<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
>
	<targets>
		<target xsi:type="Database"
                name="pgsql"
                dbProvider="Npgsql.NpgsqlConnection,Npgsql"
                connectionString="database=postgres;server=localhost;port=5432;user id=postgres;password=123456;">
			<commandText>
				INSERT INTO syslog (machineName, logged, level, message,logger, callSite, exception)
				VALUES (@machineName, @logged, @level, @message, @logger, @callSite, @exception)
			</commandText>
			<parameter name="@machineName" layout="${machinename}"/>
			<parameter name="@logged" layout="${date}"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@message" layout="${message}"/>
			<parameter name="@logger" layout="${logger}"/>
			<parameter name="@callSite" layout="${callsite}"/>
			<parameter name="@exception" layout="${exception:tostring}"/>
		</target>
		<target name="asyncFile" xsi:type="AsyncWrapper">
			<!--项目日志保存文件路径说明fileName="${basedir}/保存目录，以年月日的格式创建/${shortdate}/${记录器名称}-${单级记录}-${shortdate}.txt"-->
			<target name="log_file" xsi:type="File"
				fileName="${basedir}/ProjectLogs/${shortdate}/${logger}-${level}-${shortdate}.txt"
				layout="${longdate} | ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
				archiveFileName="${basedir}/archives/${logger}-${level}-${shortdate}-{#####}.txt"
				archiveAboveSize="102400"
				archiveNumbering="Sequence"
				concurrentWrites="true"
				keepFileOpen="false" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="pgsql"/>
		<logger name="Microsoft.*" minlevel="Info" writeTo="" final="true" />
		<logger name="*" minlevel="Info" writeTo="asyncFile" />
		<logger name="*" minlevel="Warn" writeTo="colorConsole" />
	</rules>
</nlog>